<div class="main-content">
    <div class="header-content">

        <div class="add-detail-text">
            Person Details
        </div>

        <a class="add-button" routerLink="/addform">
            <img src="../assets/icons/add-24px.svg" alt="">Add User
        </a>
    </div>

    <div class="table-main">
        <table id ="display" class="table">
            <tr>
                <!--Table header-->
                <th>Fullname</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th></th>
            </tr>

            <!-- <tr *ngFor="let address of addressbook">
                <td>{{}}</td>
                <td>{{}}</td>
                <td>
                    {{}}
                </td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>
                    <img id={{employee.empId}} (click)="remove(employee.empId)"
                        src="../assets/icons/delete-black-18dp.svg"
                        alt="delete">
                    <img id={{employee.empId}} (click)="update(employee)" 
                        src="../assets/icons/create-black-18dp.svg" alt="edit">
                </td>
            </tr> -->
        </table>
    </div>
</div>

