/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green-snackbar{
    color: rgb(59, 173, 88);
    background-color: black;
}

.red-snackbar{
    color: red;
    background-color: black;
}
